{% extends "PaulMaxwellStudentsAccountingBundle::layout.html.twig" %}

{% block content %}
    <div class="jumbotron">
        <h1>Simple student accounting system</h1>
    </div>
    <p>There are {{ students }} students in database.</p>
    <p>There are {{ teachers }} teachers in database.</p>
{% endblock %}
